{% extends "email/base.html" %}
<!---->
{% block content %}
<h2 class="welcome">Dear {{ name }},</h2>
<div class=".container">
  <p>
    We’re excited to welcome you to Develop for Good at our Volunteer Orientation shortly!
    In the meantime, due to an unforeseen technical issue with our subdomain, we are re-issuing
    new Develop for Good login credentials for you to activate:
  </p>
  <p>
    Your new Develop for Good email is: {{ email }}<br />Your temporary password
    is: {{ temporaryPassword }}
  </p>
  <div>
Please sign in with your credentials above here: <a href="https://accounts.google.com">Google Workspace Login</a>.
    Once you log in, you will be prompted to change your password. Your previous
    login credentials (at the @volunteer.developforgood.org subdomain) will be deactivated shortly.
  </div>
  <p>
Later this evening, we’ll send an invitation to join our Slack workspace through your new Develop for
    Good email. Please activate your email and accept the Slack invite as soon as it arrives to ensure
    a smooth onboarding experience. If you have any questions, feel free to reach out to onboarding@developforgood.org.
  </p>
  <p>
Thank you for your understanding! We look forward to seeing you at Orientation!
  </p>
</div>
{% endblock content %}
